<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dulanjali.agroworld">

    <application
        android:allowBackup="true"
        android:icon="@drawable/leaf"
        android:label="@string/app_name"
        android:roundIcon="@drawable/plantt"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity_ResetPassword"></activity>
        <activity android:name=".Activity_Blog" />
        <activity android:name=".Activity_Profile" />
        <activity android:name=".Activity_Dashboard" />
        <activity android:name=".Activity_Register" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity_Login" />
    </application>

</manifest>